.layout {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.header {
    background: transparent;
    margin-bottom: 10px;
    width: 100%;
    position: absolute;
    z-index: 1;

}
